#hangman_content{
  width:50%;
  margin: 0 auto;
}

#head_man_div{
  border-top:1px solid black;
  border-left: 1px solid black;
  width:100%;
}

#body_man_div{
  border-right:1px solid black;
  width:5%;
  min-height: 400px;
  position: absolute;
  top: 1%;
  left: 69.6%;
}

#foot_man_div{
  border-top:1px solid black;
  width:26%;
  position: absolute;
  top: 55.8%;
  left: 61%;

}

#head {
  border: solid 2px black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -24px;
}

#body {
  height: 100px;
  border: solid 2px black;
  width: 0;
}

#right_arm {
  border: solid 2px black;
  width: 0;
  height: 40px;
  -ms-transform: rotate(-58deg);
  -webkit-transform: rotate(-58deg);
  transform: rotate(-58deg);
  margin-left: 15px;
}

#left_arm {
  border: solid 2px black;
  width: 0;
  height: 40px;
  -ms-transform: rotate(58deg);
  -webkit-transform: rotate(58deg);
  transform: rotate(58deg);
  margin-top: -44px;
  margin-left: -19px;
}

#right_leg {
  border: solid 2px black;
  width: 0;
  height: 60px;
  -ms-transform: rotate(-37deg);
  -webkit-transform: rotate(-37deg);
  transform: rotate(-37deg);
  margin-left: 18px;
  margin-top: -8px;
}

#left_leg {
  border: solid 2px black;
  width: 0;
  height: 60px;
  -ms-transform: rotate(37deg);
  -webkit-transform: rotate(37deg);
  transform: rotate(37deg);
  margin-top: -64px;
  margin-left: -20px;
}

#main_play_area {
  width: 100%;
  height: 300px;
  border-top: solid 2px black;
  margin-top: 160px;
}

.letter_box {
  display: inline-block;
  margin-right: 15px;
  border-bottom: solid black 1px;
  width: 30px;
  margin-top: 30px;
  text-align: center;
}

.add_height {
  height: 40px;
}
