#hangman_content{
  width:50%;
  margin: 0 auto;
}

#head_man_div{
  border-top:1px solid black;
  border-left: 1px solid black;
  width:100%;
}

#body_man_div{
  border-right:1px solid black;
  width:5%;
  min-height: 400px;
  position: absolute;
  top: 1%;
  left: 69.6%;
}

#foot_man_div{
  border-top:1px solid black;
  width:26%;
  position: absolute;
  top: 55.8%;
  left: 61%;

}
