doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div#hangman_content.content
      div#head_man_div
        p hello
      div#body_man_div
      div#foot_man_div
      
      
    
