doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div#hangman_content.content
      div#head_man_div 
        div.add_height
      div#head     
      div#body
        div#right_arm
        div#left_arm
      div#leg
        div#right_leg
        div#left_leg  
      div#body_man_div        
      div#foot_man_div
      
      
    
