doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="style.css")
    //-  link(rel="stylesheet" href="/css/styles.css" media="screen" title="no title")


  body
    p first
    div Hello WOrld
      p second
    
