doctype html
html
  head
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div#hangman_content.content
      div#head_man_div 
        div.add_height
      div#head     
      div#body
        div#right_arm
        div#left_arm
      div#leg
        div#right_leg
        div#left_leg  
      div#body_man_div        
      div#foot_man_div
      
      div#main_play_area 
      
      div#alphabet_container
        div.row
          div.col-lg-1 A          
           div.col-lg-1 B
           div.col-lg-1 C
           div.col-lg-1 D
           div.col-lg-1 E
           div.col-lg-1 F
           div.col-lg-1 G
           div.col-lg-1 H
           div.col-lg-1 I
           div.col-lg-1 J
           div.col-lg-1 K
           div.col-lg-1 L
           div.col-lg-1 M
        div.row
           div.col-lg-1 N
           div.col-lg-1 O
           div.col-lg-1 P
           div.col-lg-1 Q
           div.col-lg-1 R
           div.col-lg-1 S
           div.col_lg-1 T
           div.col-lg-1 U
           div.col-lg-1 V
           div.col-lg-1 W
           div.col-lg-1 X
           div.col-lg-1 Y
           div.col-lg-1 Z
           
      script(src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")
      script(src="js/main.js")
      
      
    
