doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div#hangman_content.content
      div#head_man_div 
        div.add_height
      div#head     
      div#body
        div#right_arm
        div#left_arm
      div#leg
        div#right_leg
        div#left_leg  
      div#body_man_div        
      div#foot_man_div
      
      div#main_play_area 
        div.letter_box E
        div.letter_box H
      
      script(src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")
      script(src="js/main.js")
      
      
    
